## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

fin_data/
fin_data2/
graph.txt

v2/RUNS
v2/junk
v2/fishtron.exe
v2/fishtron

v3/junk
v3/fishtron.exe
v3/fishtron_fake.exe
v3/fishtron

tex/thesis.aux
tex/thesis.dvi
tex/thesis.log
tex/thesis.out
tex/thesis.pdf
tex/thesis.synctex.gz
tex/thesis.toc
tex/vystrizek.toc
tex/vystrizek.aux
tex/vystrizek.log
tex/vystrizek.pdf
tex/vystrizek.synctex.gz
